h1 { font-size:60px;
     text-align:center;
	 background-image:url("E:/Najis/Docs/ScAim/Images/h.jpg");
     color:red;
	 font-family:fi;
	 box-shadow:5px 5px 7px 5px red;
	 animation-name:sk;
     animation-duration:4s;
     animation-iteration-count:1;
   }
@keyframes sk { 
            0%{-webkit-transform:skew(0deg,0deg);}
            50%{-webkit-transform:skew(30deg,30deg);}
            70%{-webkit-transform:skew(-30deg,-30deg);}
			80%{color:white;}
            90%{-webkit-transform:skew(0deg,0deg);}
			100%{color:red;}
           }
   @font-face { font-family:eastlift;
                src:url("E:/Najis/Docs/ScAim/Fonts/es.ttf");
   }
   @font-face { font-family:fi;
                src:url("E:/Najis/Docs/ScAim/Fonts/as.ttf");
   }
   @font-face { font-family:is;
                src:url("E:/Najis/Docs/ScAim/Fonts/is.ttf");
   }
   @font-face { font-family:ls;
                src:url("E:/Najis/Docs/ScAim/Fonts/ls.ttf");
   }
h2 { font-family:ls;
     font-size:45px;
	 text-style-type:underlined;
   }
   p { float:right;
       font-family:ls;
	   box-shadow:3px 3px 7px 3px deepskyblue; 
       font-size:30px;
	   clor:deepskyblue;
     }